
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: #fff;
}

#root {
	margin: 50px auto;
	width: 50%;
	max-width: 900px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.3em;
	line-height: 1.5em;
}

#root > article {
	text-align: justify;
	margin-bottom: 2em;
}

#root > article p {
	animation: fade-slide 0.5s ease-out;
	position: relative;
}

#root > nav {
	width: 100%;
}

#root > nav ol {
	margin: 0;
	padding: 0;
}

#root > nav li {
	width: 100%;
	list-style: none;
	margin: 0;
}

#root > nav li:first-child {
	counter-reset: index;
}

#root > nav a:before {
	padding-right: 10px;
	opacity: 0.6;
	content: counter(index);
	counter-increment: index;
}

#root > nav a {
	display: flex;
	box-sizing: border-box;
	color: #000;
	text-decoration: none;
	width: 100%;
	margin: 5px 0;
	padding: 10px;
	background: #e7e7e7;
	border: 2px solid transparent;
	animation: fade-text 1s ease-out;
}

#root > nav a:hover {
	background: #d0d0d0;
	border: 2px solid #666;
	transition: all 0.3s;
}

@keyframes fade-slide {
	from {
		opacity: 0;
		top: 10px;
	}
	to {
		opacity: 1;
		top: 0px;
	}
}

@keyframes fade-text {
	from {
		color: transparent;
	}
	to {
		color: #000;
	}
}

.tray {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
}

.tray > div {
	width: 250px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	background: linear-gradient(to bottom, #050505 0%, #292929 100%);
	color: #fff;
	margin: 15px;
	padding: 10px;
	font-family: "Segoe UI", "Dejavu Sans", Helvetica, Tahoma, sans;
	font-size: 13px;
	border: 1px solid #000;
	animation: fade-slide 2s ease-out;
}

